body, 
.catalog-page{
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    
    background-color: #849d8f;
    background-image: url(/img/index/backgrounds/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.site-navigation {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 700;
    
    background-color: #849d8f;
}

.site-navigation,
.user-navigation, 
.sub-menu-catalog, 
.sub-menu-search, 
.sub-menu-login, 
.main-header-info, 
.footer-social ul, 
.links ul, 
.features-list{
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
    display: inline-block;
}

.login-form a{
    color: #323232;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.user-navigation li {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.work-time {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.phone-number {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.search-form {
    background-color: #f8f7f4;
}

.login-form input[type=email], 
.login-form input[type=password] {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    
}

.login-form {
    background-color: #f8f7f4;
}

.catalog-group-new {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.catalog-group {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.site-navigation .catalog-link {
    position: relative;
}

.sub-menu-catalog {
    background-color: #f8f7f4;
    display: none;
    position: absolute;
    top: 10px;
    z-index: 10;
}

.site-navigation .catalog-link:hover .sub-menu-catalog {
    display: inline-block;
}

.sub-menu-catalog a {
    color: #323232;
}

.catalog-group:hover {
    background-color: #fbded7;
}

.catalog-group:focus, 
.catalog-group:active {
    background-color: #f6b5a5;
}

.catalog-page .catalog-group:nth-child(2){
    background-color: #d07058;
}

.user-navigation > li {
    position: relative;
}

.user-navigation .sub-menu-search {
    position: absolute;
    display: none;
    top: 10px;
    z-index: 10;
}

.user-navigation > li:hover .sub-menu-search {
    display: block;
}

.user-navigation .sub-menu-login {
    position: absolute;
    display: none;
    top: 10px;
    z-index: 10;
}

.user-navigation > li:hover .sub-menu-login {
    display: block;
}

/*Слайдер*/
.slider h1 {
    font-size: 60px;
    line-height: 61px;
    font-weight: 700;
}

.slider-slides {
    width: 300%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-inner {
   overflow: hidden; 
}

/*Кнопки Слайдера*/
.slider-controls label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.8);
    cursor: pointer;
    border: 2px solid #ffffff;
    background-color: #849d8f;
    
}

.btns input{
    display: none;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] {
    background-color: #ffffff;
}

#btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: #ffffff;
}

#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #ffffff;
}

#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-1065px);
}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-2130px);
}

/*Предложения*/
.offer-1 h3,
.offer-2 h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.offer-1 p,
.offer-2 p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.offer-1 {
    background-color: #a5233d;
    background-image: url(/img/index/backgrounds/%D0%9C%D0%B0%D0%BB%D0%B8%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9%20%D1%84%D0%BE%D0%BD.jpg);
    background-repeat: no-repeat;
    width: 560px;
    height: 229px;
    overflow: hidden;
    margin-right: 27px;
    margin-bottom: 40px;
}

.offer-2 {
    background-color: #3e2316;
    background-image: url(/img/index/backgrounds/%D0%A8%D0%BE%D0%BA%D0%BE%D0%BB%D0%B0%D0%B4%D0%BD%D1%8B%D0%B9%20%D1%84%D0%BE%D0%BD.jpg);
    background-repeat: no-repeat;
    width: 560px;
    height: 229px;
    overflow: hidden;
    margin-right: 27px;
    margin-bottom: 40px;
}

.slider-slides .slide-1 img {
    position: relative;
}
.slider-slides .slide-1 h1 {
    position: absolute;
    top: 381px;
    left: 192px;
}


/*Кнопки*/

.best-sales h3 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.best-sales span {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
}

.best-sales a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
}

.features {
    background-color: #ecdfc2;
    background-image: url(/img/index/backgrounds/%D0%B2%D0%B0%D1%84%D0%BB%D1%8F.jpg);
    width: 1146px;
    height: 306px;
    margin: 40px 27px;
    
}

.features b {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #323232;
}

.features-item {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
}

.blog {
    color: #323232;
    background-color: #ffffff;
    background-image: url(/img/index/backgrounds/%D0%9A%D0%BB%D1%83%D0%B1%D0%BD%D0%B8%D1%87%D0%BD%D1%8B%D0%B9%20%D1%84%D0%BE%D0%BD.jpg);
    background-repeat: no-repeat;
    width: 560px;
    height: 220px;
    margin-bottom: 40px;
}

.blog p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.blog a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
}

.subscribtion {
    background-color: #f8f7f4;
    background-image: url(/img/svg/svg-gllacy/bg-post.svg);
    background-repeat: no-repeat;
    width: 560px;
    height: 220px;
    margin-bottom: 40px;
}

.subscribtion p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #5a5a5a;
    background-color: #f8f7f4;
}

.subscribe-form {
    background-color: #f8f7f4;
}

.subscribe-form input {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.subscribtion .sub-inner {
    background-color: #f8f7f4;
    width: 549px;
    height: 210px;
/*    margin: 5px;*/
}

/* КНОПКА*/

.contacts {
    background-color: #fefefd;
    width: 305px;
    height: 305px;
}

.contacts p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #323232;
}

.contacts span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
}

/*КНОПКА*/

.main-footer {
    background-color: #849d8f;
}

.links a {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.supplier a {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
}

.copyright p, 
.copyright a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.feedback {
    background-color: #f8f7f4;
    width: 480px;
    height: 440px;
}

.feedback h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
}

.feedback input[type=text],
.feedback input[type=email],
.feedback textarea {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

/*Сделать правильное скругление*/
.button-main:hover {
    color: #333333;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.button-main:focus {
    color: #333333;
    background-color: #ededed;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-main-nav:hover {
    color: #333333;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.button-all {
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    width: 280px;
    height: 65px;
    font-family: inherit;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color: #ffffff; 
}

.button-all:hover {
    background-image: linear-gradient( 90deg, rgb(241,123,100) 0%, rgb(241,123,100) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);  
    width: 280px;
    height: 65px;
    font-family: inherit;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color: #ffffff;
}

.button-all:focus {
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
    width: 280px;
    height: 65px;
    font-family: inherit;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color: #fceeec
}

.button {
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    height: 46px;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;   
}

.button:hover {
    background-image:linear-gradient( 90deg, rgb(241,123,100) 0%, rgb(241,123,100) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    height: 46px;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff; 
}

.button:focus {
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
    height: 46px;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
}

/* СТРАНИЦА КАТАЛОГА */

.catalog-page .catalog-link a{
    color: #333333;
    background-color: #d07058;
    text-align: center;
    vertical-align: middle;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.catalog-page .basket a {
    background-color: #f7f6f3;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #323232;
}

.sub-menu-basket {
    background-color: #f8f7f4;
}

.sub-menu-basket td{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
}

.sub-menu-basket span {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #999999;
}

.sub-menu-basket p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    color: #323232;
}

.path a {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    
}

.path li {
    list-style: none;
}

.category h3 {
    color: #ffffff;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.filter legend {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.sort,
.fat-value,
.filler-value,
.button-filter {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color: #a9b9af;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover,.item5:hover,.item6:hover,.item7:hover,.item8:hover,.item9:hover,.item10:hover,.item11:hover,.item12:hover {
    background-color: #a4b5ab;
}

.items a {
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.items h3 {
    color: #ffffff;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.items span {
    color: #ffffff;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
}

.catalog-navigation-pages a {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.fat-value,
.filler-value,
.catalog-navigation-pages li {
    list-style: none;
}

/* СТИЛИ ДЛЯ СЕТКИ */

html,
body {
    min-width: 1200px;
    min-height: 2416px;
}

.main-header {
/* Временно для сетки */
    min-height: 105px;
    margin-top: 10px;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
/* Временно для сетки */
    min-height: 65px;
    
    background-color: transparent;
}

.main-header-logo {
    width: 154px;
    height: 64px;
    margin-left: 27px;
    margin-top: 10px;
}

.site-navigation {
    width: 407px;
    margin: 0;
    padding: 0;
    
    background-color: transparent;
/* Временно для сетки   */
    min-height: 32px;
}

.user-navigation {
    width: 267px;
    margin: 0;                             /*  Выровнять расстояние справа */
    padding: 0;
/* Временно для сетки   */
    min-height: 32px;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 18px;
    
    background-color: #849d8f;
    
/* временно для сетки   */
    background-color: transparent;
}

.container {                            /* ЦЕНТРОВЩИК */
    width: 1146px;
    margin: 0 auto;
}

.main-navigation-wrapper .container {
    width: 993px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.site-navigation {
    display: flex;
    flex-direction: row;
}

.user-navigation {
    display: flex;
    flex-direction: row;
    margin-right: -73px;
}

.main-header-info {
    position: absolute;
    right: 27px;                                        
    margin-top: 0;
}

.slider {
    position: relative;
    top: -115px;
    z-index: -1;
}

/* сетка КНОПОК СЛАЙДЕРА*/

.slider-btns-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 27px;
    align-items: center;
    position: absolute;
    top: 578px;
}

.slider-controls {
    margin-right: 356px;
}

/* Предложения */

.attractive-offers {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.offer-1 .offer-1-wrap,
.offer-2 .offer-2-wrap {
    display: flex;
    flex-direction: column;
}

.offer-1-wrap button,
.offer-2-wrap button {
    align-self: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;
}

.offer-1 h3,
.offer-2 h3 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
}

.offer-1 p,
.offer-2 p {
    margin-top: 20px;
    margin-left: 20px;
}

.best-sales {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    min-height: 322px;
}
.hit-price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
}

.hit-price h3,
.hit-price span {
    margin-bottom: 25px;
}
.best-sale-1 p,
.best-sale-2 p,
.best-sale-3 p,
.best-sale-4 p,{
    margin-top: 0;
}

.best-sale-1 ,
.best-sale-2 ,
.best-sale-3 ,
.best-sale-4 {
    position: relative;
    margin-right: 27px;
}

.hit-price {
    position: absolute;
    top: 160px;
}

/* ПРЕИМУЩЕСТВА */

.features {
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 25px;
    padding-right: 30px;
    margin-bottom: 40px;
}

.features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.features-item {
    width: 485px;
    margin-right: 27px;
    margin-bottom: 27px;
}

.wrapper-blog-sub {
    display: flex;
    flex-direction: row;
    height: 220px;
    margin-bottom: 40px;
}

.blog {
    margin-right: 27px;
    margin-left: 27px;
    padding-top: 25px;
    padding-left: 20px;
    height: 220px;
}

.subscribtion {
    padding: 5px 5px;
}

.map-contacts-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.contacts {
    position: absolute;
    top: 65px;
    right: 67px;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-links li{
    margin-right: 10px;
}

.links-other {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60px;
}

.links-other li {
    margin-right: 30px;
}

.copyright {
    margin-right: 27px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
}

.feedback-form .user-name-input,
.feedback-form .mail-input{
    align-self: flex-start;
}

.feedback-form .feedback-send {
    align-self: flex-end
}

.feedback-form .mail-input {
    margin-bottom: 20px;
}




















